<% if @user.errors.any? %>
    <div id="erroe_explanation">
        <div class="alert alert-danger">
            the form contains <%= pluralize(@user.errors.count, "error") %>
    </div>
    <ul>
        <% @user.eror.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
    </div>
<% end %>

