<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Maintenance App Comminication centre </title>
    </head>
    <body>
        <h1>Better help Desk     |     Better Business    |     Happier You</h1>

        <p>
        
        AMABAC Solutions Communication Centre is a 24hrs Office support centre.
        </br>
        Keep on top of IT and make it easy for your users to track their IT needs.
        </br>
        Go beyond ticketing:understand and change team behaviour....and capture your value to business.
        </br>

        Please call us:
        </br>

        Mobile:    |    0729030736

        </br>


        Office Tel:     |    0772673064
        </br>

        Email: amabac.solution@gmail.com
        </br>
        amabac.solutions@yahoo.com

        </p>
    </body>
</html>


