<% provide(:title, "Dashboard") %>

<h1>dashboard</h1>
<p>maintenance app is a user portal that auto-assigns tickets, submits tickets, track progress 
and views team performance at a glance. </p>
</br>
<p> NO Ticket limits. </p>
<%= link_to "Sign up now!", signup_path %>

<%= link_to image_tag("Amabac.png",height: 500, width: 500,  alt: "motorcade") %>

