<% provide(:title, "Dashboard") %>

<h1>dashboard</h1>
<p>Maintenance App is a user portal that auto-assigns tickets, submits tickets, track progress 
and views team performance at a glance. </p>
</br>
<p> NO Ticket limits. </p>
<%= link_to "Sign up now!", signup_path %>
</br>

</br>

<%= link_to image_tag("Amabac.png",height: 200, width:200,  alt: "motorcade") %>

