<% provide(:title, "dashboard" %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | maintenance app</title>
    </head>
    <body>
        <h1>dashboard</h1>
        <p>maintenance app is a user portal that auto-assigns tickets, submits tickets, track progress 
        and views team performance at a glance.
        </br>
        NO Ticket limits.
        </p>
    </body>
</html>
