<% provide(:title, "Knowledge_Platform" %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Maintenance App</title>
    </head>
    <body>
        <h1>Learning Platform for users</h1>
        <p>Stop repeating yourself: Capture your everyday answers in this platform & serve them up. </p>
    </body>
</html>


