<% provide(:title, "Tickets") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Maintenance App</title>
    </head>

    <body>
        <h1>TICKETING</h1>,
        <p>Keep a tight rein in IT incidents and tasks: easily accept tickets</p>

    </body>
</html>

